<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="RIOC" transaction-type="RESOURCE_LOCAL">

        <class>com.mettles.rioc.entity.Recepient</class>
        <class>com.mettles.rioc.entity.LineofBusiness</class>
        <class>com.mettles.rioc.entity.Submission</class>
        <class>com.mettles.rioc.entity.StatusChange</class>
        <class>com.mettles.rioc.entity.SplitMaps</class>
        <class>com.mettles.rioc.entity.NotificationSlot</class>
        <class>com.mettles.rioc.entity.Error</class>
        <class>com.mettles.rioc.entity.Document</class>
        <class>com.mettles.rioc.entity.HIHConfiguration</class>
        <class>com.mettles.rioc.entity.Providers</class>
        <class>com.mettles.rioc.entity.State</class>
        <class>com.mettles.rioc.entity.Address</class>
        <class>com.mettles.rioc.entity.X12278Submission</class>
        <class>com.mettles.rioc.entity.PADocument</class>
        <class>com.mettles.rioc.entity.PAError</class>
        <class>com.mettles.rioc.entity.PANotificationSlot</class>
        <class>com.mettles.rioc.entity.PAStatusChange</class>
    </persistence-unit>
</persistence>
